.footercontent{
 background-color:#FFFFFF ;
 padding: 40px 60px;
 border-radius: 10px;
}
.send{
    position: absolute;
    top:30%;
    right:3%;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
}
.inputArea{
    position: relative;
}

.input{
    background-color:#EDA415;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 20px;
}
.input::placeholder{
    color: #FFFFFF;
    font-size: 14px;
}

.text{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    
    color: #606060; 
}
@media (max-width:1024px){
    .contenttext{
        text-align: center;
        width: 100%;
        white-space: nowrap;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}
