.navbar{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.nav{
    background-color: #F4F4F4;
}
.list{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.list li a{
display: flex;
align-items: center;
font-weight: 500;
gap: 5px;
font-size: 16px;
line-height: 24px;
color: #3A3A3A;
}
.drawerBTN{
    display: none;
    width: 100px;
    height: 70px;
    background-color: #EDA415;
    border-radius: 10px;
}

.desc{ 
font-family:Poppins-Semi;
font-style: normal;
font-size: 16px;
color: #003F62;
white-space: nowrap;
}
@media (max-width:992px){
    .headerNav{
        display: none;
    }
    .drawerBTN{
        display: block;
    }
    .list{
        display: flex;
        flex-direction: column;
    }
    .nav-container{
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
}