.advertisement--title {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    color: #1B5A7D;
    font-family: Poppins-Semi;
    margin-bottom: 19px;
}

.advertising {
    margin-bottom: 55px;
}

.advertisement {
    display: flex !important;
    max-width: 70%;
    margin: auto;
    justify-content: space-between;
}

.advertisement--part {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advertisement--buttons {
    display: flex;
    font-style: normal;
    font-size: 16px;
}

.advertisement--buttons--right {
    color: #1B5A7D;
    padding: 18px 32px;
    border-radius: 20px;
    background: transparent;
    border-color: #1B5A7D;
    font-family: Poppins-Semi;
}

.image-advertisement {
    position: relative;
}

.discount-img {
    position: absolute;
}

.main-img {
    max-width: 331px;
}

.discount-img {
    right: -25px;
    bottom: 47px;
}

.ant-carousel .slick-dots li button {
    background: #EDA415 !important;
}

@media only screen and (max-width: 992px) {
    .main-img {
        max-width: 200px;
    }

    .advertisement--title {
        font-size: 23px;
    }

    .advertisement--buttons--right {
        padding: 9px 16px;
    }
    .advertising .slick-dots-bottom{
        bottom: -25px;
    }
}

@media only screen and (max-width: 768px) {
    .advertisement--buttons--right {
        padding: 4px 8px;
    }
}

@media only screen and (max-width: 576px) {
    .advertisement--buttons--right {
        padding: 4px 8px;
    }
    .main-img {
        max-width: 80px;
    }
    .advertisement--title {
        font-size: 16px;
    }
    .advertisement--buttons--right{
        border-radius: 5px;
        padding: 2px 4px;
        font-size: 12px;
    }
}