.banner {
    max-width: 90%;
    margin: auto;
    margin-bottom: 55px;
    position: relative;
}

.banner img {
    width: 100%;
}

.banner-inside {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(0px, -50%);
    text-align: center;
}

.banner-inside h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    color: #1B5A7D;
    font-family: Poppins-Semi;
    margin-bottom: 10px;
    margin-top: 20px;
}

.banner-inside h4 {
    color: white;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .banner-inside h1 {
        font-size: 23px;
    }

    .banner-inside {
        left: 64%;
    }
}

@media only screen and (max-width:992px) {
    .popular ul .selected-categories {
        padding: 5px 10px;
    }
}

@media only screen and (max-width:768px) {
    .banner-inside button:first-of-type {
        display: none;
    }

    .banner-inside h1 {
        font-size: 16px;
    }

    .banner-inside h4 {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:576px) {
    .banner-inside h1 {
        font-size: 14px;
        margin: 5px 0px;
    }

    .banner-inside h4 {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .banner-inside {
        left: 55%;
      }
}