.headermain {
    width: 100%;
    padding: 20px 0;
    background-color: #003F62;
}

.inputArea {
    position: relative;
    display: flex;
}

.align {
    align-items: center;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px!important;
    background: #EDA415;
    border-color: transparent;
    font-family: Poppins-Semi;
    border-radius: 15px;
    font-size: 10px;
    line-height: 21px;
    color: #FFFFFF;
}

.span {
    width: 18px;
    height: 18px;
    background-color: #EDA415;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header-main-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.icon-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-text {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

@media (max-width:992px){
    .header-main-container{
        flex-direction: column;
        gap: 20px;
    }
}